# Java compiles
*.class

#Output files (intelliJ)
.idea/
out/
*.iml

# System files
.DS_Store
Thumbs.db

# Maven build directory
target/
*.jar
*.war
*.ear

# Eclipse project files
.classpath
.project
.settings/
.factorypath